1.- Escribe una función que extraiga de una lista de números el menor y el mayor.

2.- Escribe otra función que haga de test de la primera con los siguientes casos:

    [1,2,3,4,5,6,7,8,9]
    [9,8,7,6,5,4,3,2,1]
    [0,-1,9,-12]
    [0, 0, 0]
    [-1]
    []

    La función de test dará un ok por cada respuesta correcta y un fail en caso contrario.

3.- Escribe una función que sume los números de una lista.

4.- Escribe su función de test

Suerte!

In [46]:
def numeroMayor(listaNumeros):
    mayor = listaNumeros[0]
    for n in listaNumeros:
        if n > mayor:
            mayor = n

    return(mayor)

In [47]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
numeroMayor(lista)

9

In [49]:
lista2 = [-5,-1,-12]

In [50]:
numeroMayor(lista2)

-1

In [51]:
def numerosMyM(listaNumeros):
    if len(listaNumeros) == 0:
        return(0, 0)   
    mayor = listaNumeros[0]
    menor = listaNumeros[0]
    for n in listaNumeros:
        if n > mayor:
            mayor = n
        if n < menor:
            menor = n

    return(menor, mayor)

In [52]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [53]:
numerosMyM(lista)

(1, 9)

In [54]:
lista2 = [9, 8, 7, 6, 5, 4, 3, 2, 1]

In [55]:
numerosMyM(lista2)

(1, 9)

In [56]:
lista3 = [0,-1, 9,-12]

In [57]:
numerosMyM(lista3)

(-12, 9)

In [58]:
lista4 = [0, 0, 0]

In [59]:
numerosMyM(lista4)

(0, 0)

In [60]:
lista5 = [-1]

In [61]:
numerosMyM(lista5)

(-1, -1)

In [62]:
lista6 = []

In [63]:
numerosMyM(lista6)

(0, 0)

In [64]:

def numerosMyM_test():
    lista = [1, 2, 3, 4, 5, 6, 7, 8, 9]
    numerosMyM(lista)
    if numerosMyM(lista) == (1, 9):
        print( "ok")
    else:
        print("fail")

In [65]:
numerosMyM_test()

ok

In [66]:
def suma(notas):
    
    # variable que contendrá el resultado de la suma de las notas 
    # con el valor 0, lo que indica que la suma aún no se ha realizado
    sumaDeNotas = 0
    
    # A partir de ahí, un enfoque que podemos seguir es a través de una
    # iteración sobre la lista de notas. Es decir para cada nota, su valor se
    # agrega a la variable suma_de_notas, de la siguiente manera
    for nota in notas:
        sumaDeNotas += nota

    return(sumaDeNotas)

In [67]:
sumaDeNotas = suma(notas)
print(sumaDeNotas)

45

In [68]:
notas = [1,2,3,4,5,6,7,8,9]
notas1 = [9,8,7,6,5,4,3,2,1]
notas2 = [0,-1,9,-12]
notas3 = [0, 0, 0]
notas4 = [-1]
notas5 = []

In [69]:
sumaDeNotas = suma(notas1)
print(sumaDeNotas)

45

In [70]:
sumaDeNotas = suma(notas2)
print(sumaDeNotas)

-4

In [71]:
sumaDeNotas = suma(notas3)
print(sumaDeNotas)

0

In [72]:
sumaDeNotas = suma(notas4)
print(sumaDeNotas)

-1

In [73]:
sumaDeNotas = suma(notas5)
print(sumaDeNotas)

0

In [74]:
# otra opcion de sumar una lista es con la funcion de python sum()
laSuma = sum(notas2)
print(laSuma)

-4

In [75]:
def suma_test():
    notas = [1, 2, 3, 4, 5, 6, 7, 8, 9]
    if suma(notas) == 45:
        print( "ok")
    else:
        print("fail")
    
    notas1 = [9,8,7,6,5,4,3,2,1]
    if suma(notas1) == 45:
        print( "ok")
    else:
        print("fail")
        
    notas2 = [0,-1,9,-12]
    if suma(notas2) == -4:
        print( "ok")
    else:
        print("fail")
    
    notas3 = [0, 0, 0]
    if suma(notas3) == 0:
        print( "ok")
    else:
        print("fail")
        
    notas4 = [-1]
    if suma(notas4) == -1:
        print( "ok")
    else:
        print("fail")
    
    notas5 = []
    if suma(notas5) == 0:
        print( "ok")
    else:
        print("fail")

In [76]:
suma_test()

ok
ok
ok
ok
ok
ok